body{ background-color:#1f2122 ;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}


.div1{
    display: flex;
    gap: 40px;
    box-shadow: 1px 1px 10px black;
    padding: 40px;
align-items: center;
}

img{
    width: 400px;
    height: 400px;
    border-radius:20px ;
}

.buton2{
    background-color: #e75e8d;
    padding: 16px 30px;
    border-radius: 50px;
    color: white;
    border: none;
}
.div12{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
h1{
    color: white;
    margin: 0px;
}
.c1{
    color: rgb(63, 61, 61);
    margin: 0px;
    
}

.buton1{
    color: #e75e8d ;
    background-color: transparent;
    padding: 16px 30px;
    border: solid 1px #e75e8d ;
    border-radius: 50px;
}


.div8{
    background-color: #27292a;
    border-radius: 33px;
    width: 350px;
    
    display: flex;
flex-direction: column;
padding: 30px;

}
.a1{
    color: rgb(75, 75, 75);
}
.div13{
    display: flex;
    justify-content:space-between ;
    border-bottom: solid 2px #626262;
    
}

.div9{
    display: flex;
    justify-content:space-between ;
    border-bottom: solid 2px #626262;
}
.div10{
    display: flex;
    justify-content:space-between ;
    border-bottom: solid 2px #626262;
}

.div11{
    display: flex;
    justify-content:space-between ;
 
    
    

}
h2{
color: #e75e8d;
}